<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css" media="all">
    <link rel="stylesheet" href="estilos/mobile.css">
    <title>APIs - Games</title>
</head>

<body>
    <h1 id="titulo">DataBASE GAMES</h1>
    {% block conteudo %}
    <div id="flex">
        <div id="flex2">
            <div><a href="popular.html">Popular</a></div>
            <div><a href="aventura.html">Aventura</a></div>
            <div><a href="recentes.html">Recentes</a></div>
        </div>
    </div>
    
    {% endblock %}
</body>

</html>