@charset "UTF-8";

@font-face {
    font-family: "Megamax";
    src: url(../../static/fonts/MegamaxJonathanToo-YqOq2.ttf) format('truetype');
}

:root {
    --fonte: "Megamax";
}
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
* {
    margin: 0;
    padding: 0;

    font-family: var(--fonte);

    box-sizing: border-box;
}


#flex

/* estilização dos três botôes */
    {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76vh;

}

#flex2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 70%;

}





/* ------------------------------------------------------------- */
/* ESTILIZAÇÂO DA IMAGEM DE FUNDO */
/* ------------------------------------------------------------- */

body {
    height: 91vh;
    background-image: url(../../static/imagens/imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}


/* ------------------------------------------------------------- */
/* ESTILIZAÇÂO DOS BOTÕES */
/* ------------------------------------------------------------- */
a {
    text-decoration: none;
    padding: 40px;
    color: black;
    font-size: 3em;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 5px solid black;
    /* 
    box-shadow: 10px 20px 5px 0px rgba(0,0,0,0.3);
 */
    transition: background-color 0.3s ease, transform 0.2s ease;

}






/* ------------------------------------------------------------- */
/* ESTILIZAÇÂO DOS BOTÕES (HOVER, ANIMAÇÔES)*/
/* ------------------------------------------------------------- */
a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 5px solid white;
    transform: scale(1.1);


}
a:active {
    transform: scale(0.95); /* Encolhe levemente ao clicar */

}



/* ------------------------------------------------------------- */
/* ESTILIZAÇÃO DO TÍTULO */
/* ------------------------------------------------------------- */
    #titulo {
       text-align: center; 
       margin-top: 100px;
       font-size: 6em;
       
       animation: piscarRGB 5s linear infinite;
    }

    @keyframes piscarRGB {
        0% {
          color: rgb(0, 0, 0); /* Vermelho */
          opacity: 1;
        }
        25% {
          color: rgb(0, 0, 0); /* Amarelo */
          opacity: 0.1; /* Fica mais escuro/invisível */
        }
        50% {
          color: rgb(0, 0, 0); /* Verde */
          opacity: 1;
        }
        75% {
          color: rgb(34, 34, 161); /* Azul */
          opacity: 0.2;
        }
        100% {
          color: rgb(145, 179, 223); /* Magenta */
          opacity: 1;
        }
      }


